@page "/chat"
@inject IConfiguration Configuration
@inject IJSRuntime JS
@using AIChatApp.Model
@attribute [StreamRendering(true)]

<div class="chat">
    <div class="messages-scroller">
        <div class="messages">
            <ChatMessage
                State="@(new Message() { IsAssistant = true, Content = "Hi, I'm a helpful assistant, how may I assist you?" })" />
            @for (var i = 0; i < messages.Count; i++)
            {
                var id = $"message{i}";
                var state = messages[i]!;
                <ChatMessage @key="@id" State="@state" />
            }
        </div>
    </div>

    <form class="messages-form" @ref="@writeMessageElement" @onsubmit="@SendMessage">
        <textarea @bind="@userMessageText" Placeholder="Ask the AI assistant" class="form-control mb-2 message-form"
            rows="3" id="expanding-textarea" />
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>